p {
	color: #808080;
}

.btn {
	border-radius: 0px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 640px) {

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  
/*.media {
    display: flex;
    align-items: center;
}
*/


/*.media .content {
    flex: 1;
    padding: 10px;
    width: 500px;
}
*/


  
  
 
}

}




body { min-height: 100vh;
       
   }

ion-icon {
  text-decoration: none;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  
  
}

.insta {
color: #d90762;
      
}

.page-content {
	width: 80%;
	margin:0 auto;
	max-width:960px;

	
}

.endblock {

	height: 100px;

}

textarea {
  width: 800px;
  height: 160px;
}

 img {
  width: 100%;
  height: auto;
}




