p {
	color: #808080;
}

.btn {
	border-radius: 0px;
}




.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 640px) {

  .page-content {
    width: 80%;
    margin:0 auto;
    max-width:960px;
  
    
  }

#headervideo {
	width:960px;
	height: 626px;

}

#servicevideo {
	width: 640px;
	height: 360px;

}

.service-img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}


.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  
/*.media {
    display: flex;
    align-items: center;
}
*/


/*.media .content {
    flex: 1;
    padding: 10px;
    width: 500px;
}
*/


  
  
 
}

}




body { min-height: 100vh;
       
   }

ion-icon {
  text-decoration: none;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  
  
}

.insta {
color: #d90762;
      
}








.endblock {

	height: 100px;

}

textarea {
  width: 100%;
  height: 160px;
}

.inform {
  width: 100%;

}

 img {
  width: 100%;
  height: auto;
}



#logo {
	max-height: 128px;
	max-width: 111px;

}


.subscribe {
  background: url(../images/flyingdrone.webp);
  background-position: center; 
  height: 280px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  right:0px;
  max-width:100vw;
}

.reviews {
  background: url(../images/reviews.webp);
  background-size: cover;
  background-position: center; 
  height: 280px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  right:0px;
  max-width:100vw;
}

